@import "tailwindcss";

@theme inline {
  --color-on-background: #191c1d;
  --color-on-secondary: #ffffff;
  --color-tertiary-container: #697781;
  --color-on-surface: #191c1d;
  --color-on-secondary-fixed: #002204;
  --color-on-tertiary-fixed: #0f1d25;
  --color-surface-variant: #e1e3e4;
  --color-secondary-fixed: #98f994;
  --color-outline-variant: #c1c6d4;
  --color-on-tertiary-fixed-variant: #3b4951;
  --color-surface-bright: #f8f9fa;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #fdfdff;
  --color-on-secondary-fixed-variant: #005313;
  --color-inverse-surface: #2e3132;
  --color-primary-fixed-dim: #a5c8ff;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #717783;
  --color-surface-tint: #005faf;
  --color-primary-fixed: #d4e3ff;
  --color-tertiary-fixed: #d6e5ef;
  --color-surface-container-low: #f3f4f5;
  --color-surface: #f8f9fa;
  --color-inverse-on-surface: #f0f1f2;
  --color-on-primary-fixed: #001c3a;
  --color-secondary-container: #98f994;
  --color-surface-dim: #d9dadb;
  --color-surface-container: #edeeef;
  --color-on-error-container: #93000a;
  --color-tertiary-fixed-dim: #bac9d3;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed-variant: #004786;
  --color-on-secondary-container: #0c7521;
  --color-on-primary: #ffffff;
  --color-background: #f8f9fa;
  --color-on-primary-container: #fffdff;
  --color-error: #ba1a1a;
  --color-secondary-fixed-dim: #7ddc7a;
  --color-inverse-primary: #a5c8ff;
  --color-tertiary: #505e68;
  --color-on-surface-variant: #414752;
  --color-on-error: #ffffff;
  --color-secondary: #006e1c;
  --color-primary: #005dac;
  --color-surface-container-highest: #e1e3e4;
  --color-surface-container-high: #e7e8e9;
  --color-primary-container: #1976d2;

  --font-headline: var(--font-jakarta-sans), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-label: var(--font-inter), sans-serif;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

/* Material Symbols Outlined Custom Initialization */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
@media (prefers-color-scheme: dark) {
  .dark .glass-panel {
    background: rgba(15, 23, 42, 0.8);
  }
}
